header, footer, section{
    padding: 100px 0;
}
header{
    padding: 100px 0;
}
header, footer{
    background: rgb(30,87,153);
    background: -moz-linear-gradient(left,  rgba(30,87,153,1) 0%, rgba(125,185,232,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%);
    background: linear-gradient(to right,  rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
}

/*Места для проживания*/
.pts_img{
    margin-top: 15px;
    margin: 0 auto 15px;
    width: 250px; 
    height: 200px; 
    object-fit: cover;
    display: flex;
}
.pts_img_divs{
    width: 300px;
    height: 400px;
    background: rgb(94, 131, 173);
    border: 20px solid rgb(94, 131, 173);
    position: relative;
}
.pts_title{
    color: blanchedalmond;
    text-align: center;
}

.addtobasketbtn{
    position: absolute;
    cursor: pointer;
    display: flex;
    bottom: 0;
}

.menu{
    
    
    width: 6em;
    display: flex;
}

.menubutton{
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
}
